
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
    color: white;

}

#hamburger {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}


#hamburger {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    
}

nav {
    background-color: transparent;
    margin: 0;
    max-width: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 12px;
    margin: 0;
    padding: 0;
}
nav a {
    display: block; 
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 5px;
    text-align : center; 
    }

    nav a:hover {
        background-color: blueviolet;
        color: white;
        text-decoration: underline;
        box-shadow: inset 0 0 10px rgba(0 ,0 , 0 , 0.2);
        transition: background-color 0.3s, color 0.3s;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 19px;
    }


    .mosaic-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    figure {
        margin: 0;
        padding: 0;
    }

    figure img {
        width: 100%;
        height: 245px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    figcaption {
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }

    @media (max-width: 600px) {

        #hamburger {
            display: block;
        }
        nav ul {
            flex-direction: column;
            border: 1px solid #fff;
            position: absolute;
            top: 60px;
            right: 20px;
            background-color: purple;
            width: 200px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

        }

        .mosaic-gallery {
            grid-template-columns: 1fr;
        }
    }