
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    padding: 10px 14px;

}
nav {
    background-color: purple;
    margin: auto;
    max-width: 100%;
}

nav a {
    display: block; 
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 5px;
    text-align : center; 
    }

    nav a:hover {
        background-color: blueviolet;
        color: white;
        text-decoration: underline;
        box-shadow: inset 0 0 10px rgba(0 ,0 , 0 , 0.2);
        transition: background-color 0.3s, color 0.3s;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 10px  14px; 
        gap: 20px;
    }

    figure {
        display: grid;
        grid-template-columns: repeat(3, 1fr), minmax(250px, 1fr);
        gap: 20px;
        justify-items: space-around;


    }

    figure img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .mosaic-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (200px, 1fr));
        position: relative;
        padding: 15px;
        width: 90%;
        margin: 0 auto;

        
    }

    

    @media (max-width: 600px) {
        nav ul {
            display: flex;
            border: 1px solid #fff; 
        }

        figure {
            grid-template-columns: 1fr;
            grid-auto-rows: 250px; 
        }
    }